{
	"name": "{{cookiecutter.project_abbr}}",
	"interpreter": "/usr/bin/env",
	"script": "python",
	"args": "-u -m src.api",
	"min_uptime": 5000,
	"max_restarts": 3,
	"watch": false,
	"ignore_watch": [
		"**/.git/**",
		"**/.github/**",
		"**/.vscode/**",
		"**/.vscode-server/**",
		"**/.idea/**",
		"**/.ipynb_checkpoints/**",
		"**/.pytest_cache/**",
		"**/.benchmarks/**",
		"**/__pycache__/**",
		"**/node_modules/**",
		"**/env/**",
		"**/venv/**",
		"**/envs/**",
		"**/dist/**",
		"**/sdist/**",
		"**/build/**",
		"**/builds/**",
		"**/site/**",
		"**/sites/**",
		"**/log/**",
		"**/logs/**",
		"**/backup/**",
		"**/backups/**",
		"**/tmp/**",
		"**/docs/**",
		"**/examples/**",
		"**/scripts/**",
		"**/templates/**",
		"**/tests/**",
		"**/data/**",
		"**/dataset/**",
		"**/datasets/**",
		"**/result/**",
		"**/results/**",
		"**/output/**",
		"**/outputs/**",
		"**/*._*",
		"**/*.DS_Store",
		"**/*.egg-info/**",
		"**/*.ipynb",
		"**/*.pyc",
		"**/*.log",
		"**/*.bak",
		"**/*.example",
		"**/*.dockerignore",
		"**/*.editorconfig",
		"**/*.gitignore",
		"**/*.markdownlint.json",
		"**/*.pre-commit-config.yaml",
		"**/*CHANGELOG.md",
		"**/*compose.sh",
		"**/*compose.yml",
		"**/*compose.override.yml",
		"**/*Dockerfile*",
		"**/*environment.yml",
		"**/*LICENSE.txt",
		"**/*Makefile",
		"**/*mkdocs.yml",
		"**/*pytest.ini",
		"**/*README.md",
		"**/*Thumbs.db",
		"**/*sample.py",
		"**/*example.py",
		"**/*test.py"
	],
	"watch_options": {
		"followSymlinks": false
	}
}
