{
	"name": "{{cookiecutter.project_slug}}",
	"interpreter": "/usr/bin/env",
	"script": "python",
	"args": "-u -m app",
	"min_uptime": 5000,
	"max_restarts": 3,
	"watch": false,
	"ignore_watch": [
		"**/__pycache__/**",
		"**/.ipynb_checkpoints/**",
		"**/.git/**",
		"**/.vscode/**",
		"**/.vscode-server/**",
		"**/.idea/**",
		"**/dist/**",
		"**/sdist/**",
		"**/build/**",
		"**/builds/**",
		"**/docs/**",
		"**/samples/**",
		"**/examples/**",
		"**/notebooks/**",
		"**/reports/**",
		"**/results/**",
		"**/scripts/**",
		"**/tests/**",
		"**/logs/**",
		"**/volumes/**",
		"**/data/**",
		"**/dataset/**",
		"**/datasets/**",
		"**/tmp/**",
		"**/*.git*",
		"**/*._*",
		"**/*.DS_Store",
		"**/*Thumbs.db",
		"**/*.ipynb",
		"**/*.pyc",
		"**/*.md",
		"**/*.MD",
		"**/*.txt",
		"**/*.log",
		"**/*.out",
		"**/*.pid",
		"**/*.example",
		"**/*README",
		"**/*readme",
		"**/*sample.py",
		"**/*example.py",
		"**/*test.py",
		"**/*setup.cfg",
		"**/*setup.py",
		"**/*Dockerfile*",
		"**/*.dockerignore",
		"**/*.editorconfig",
		"**/*.markdownlint.json"
	],
	"watch_options": {
		"followSymlinks": false
	}
}
