pycparser>=2.22,<3.0.0
certifi>=2024.8.30,<2030.0.0
Mako>=1.3.6,<2.0.0
argon2-cffi-bindings>=21.2.0,<22.0.0
aiofiles~=24.1.0
aioshutil~=1.5
cryptography>=44.0.0,<50.0.0
argon2-cffi~=23.1.0
PyJWT[crypto]~=2.10.1
beans-logging-fastapi~=1.1.1
onion-config[pydantic-settings]~=5.1.0
aiohttp~=3.11.7
fastapi[all]~=0.115.5
