name: 2. Build and Publish

on:
  workflow_run:
    workflows: ["1. Bump Version"]
    types:
      - completed
  push:
    tags:
      - "v*.*.*"
  # pull_request:
  #   branches:
  #     - main

jobs:
  build_publish:
    name: Build and Publish
    runs-on: ubuntu-22.04
    permissions:
      contents: read
      actions: write
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Lint dockerfile
        uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: Dockerfile
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up docker buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to docker hub
        uses: docker/login-action@v2
        with:
          username: {% raw %}${{ secrets.DOCKERHUB_USERNAME }}{% endraw %}
          password: {% raw %}${{ secrets.DOCKERHUB_TOKEN }}{% endraw %}
      -
        name: Set version
        run: echo "_VERSION=$(./scripts/get-version.sh)" >> ${GITHUB_ENV}
      -
        name: Build and export
        uses: docker/build-push-action@v4
        with:
          context: .
          load: true
          cache-from: type=registry,ref={% raw %}${{ secrets.DOCKERHUB_USERNAME }}{% endraw %}/fastapi-template:cache-latest # CHANGEME: Change image name
          tags: {% raw %}${{ secrets.DOCKERHUB_USERNAME }}{% endraw %}/fastapi-template:test
      -
        name: Test docker image
        run: | # CHANGEME: Change image name:
          docker run --rm -dt -p 8000:8000 {% raw %}${{ secrets.DOCKERHUB_USERNAME }}{% endraw %}/fastapi-template:test
          sleep 3
          curl -s http://localhost:8000/api/v1/health | grep "OK"
      -
        name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          cache-from: type=registry,ref={% raw %}${{ secrets.DOCKERHUB_USERNAME }}{% endraw %}/fastapi-template:cache-latest # CHANGEME: Change image name
          cache-to: type=registry,ref={% raw %}${{ secrets.DOCKERHUB_USERNAME }}{% endraw %}/fastapi-template:cache-latest,mode=max # CHANGEME: Change image name
          tags: | # CHANGEME: Change image name:
            {% raw %}${{ secrets.DOCKERHUB_USERNAME }}{% endraw %}/fastapi-template:latest
            {% raw %}${{ secrets.DOCKERHUB_USERNAME }}{% endraw %}/fastapi-template:{% raw %}${{ env._VERSION }}{% endraw %}
          push: true
      -
        name: Trigger release
        env:
          GITHUB_TOKEN: {% raw %}${{ secrets.GITHUB_TOKEN }}{% endraw %}
        run: gh workflow run 3.create-release.yml -r v$(./scripts/get-version.sh)
