name: 3. Create Release

on:
  workflow_dispatch:

jobs:
  create_release:
    name: Create Release
    runs-on: ubuntu-22.04
    if: ${{ github.ref_type == 'tag' }}
    permissions:
      contents: write
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Create release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh release create ${GITHUB_REF_NAME} --generate-notes
